.img_um{
    width: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
}

figure{
    text-align: center ;
}

.itens_menu{
  line-height: 1.5;
  text-align: center;
}

.itens_menu a{
  font-size: 1.2em;
}


.itens_menu a:link, .itens_menu a:visited{
  color:	#000000;

  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 2px;
  margin-top: 2px;

}

 /* mouse over link */
.itens_menu a:hover {
  color: #003cff;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 2px;
  margin-top: 2px;
}

 /* selected link */
.itens_menu a:active {
  color: #003cff;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 2px;
  margin-top: 2px;
 }

 h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
 }

 html{
  scroll-behavior: smooth;
}
body{
  background-color:#5796e7;
}

header{
  padding: 1.5%;  
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  